
<!-- modal de criação de cadeira -->
<div id="modal-create-abstract" class="modal">
  <div class="modal-content">
    <span class="modal-title">Nova Cadeira</span>
    <div class="row">
      <div class="input-text">
        <label for="abstract-name">Nome</label>
        <input name="abstract-name" id="abstract-name" type="text">
      </div>

      <div class="input-text">
        <label for="abstract-code">Código</label>
        <input name="abstract-code" id="abstract-code" type="text">
      </div>

      <div class="input-text">
        <label for="abstract-teacher">Professor</label>
        <input name="abstract-teacher" id="abstract-teacher" type="text">
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateAbstract" class="green modal-action modal-close btn-flat">Criar</a>
    <a class="red modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
