
<!-- modal de criação de coordenadores -->
<div id="modal-create-coordinator" class="modal">
  <div class="modal-content">
    <span class="modal-title">Novo Coordenador</span>
    <div class="row">
      <div class="input-text">
        <label for="coordinator-name">Nome</label>
        <input name="coordinator-name" id="coordinator-name" type="text">
      </div>

      <div class="input-text">
        <label for="coordinator-code">Código</label>
        <input name="coordinator-code" id="coordinator-code" type="text">
      </div>

      <div class="input-text">
        <label for="coordinator-course">Curso</label>
        <input name="coordinator-course" id="coordinator-course" type="text">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateCoordinator" class="green modal-action modal-close btn-flat">Criar</a>
    <a class="red modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
