
<!-- modal de criação de cursos -->
<div id="modal-create-course" class="modal">
  <div class="modal-content">
    <span class="modal-title">Novo Curso</span>
    <div class="row">
      <div class="input-text">
        <label for="course-name">Nome</label>
        <input name="course-name" id="course-name" type="text">
      </div>

      <div class="input-text">
        <label for="course-code">Sigla</label>
        <input name="course-code" id="course-code" type="text">
      </div>

      <div class="input-field s12 m12 l12">
        <select name="university" id="university">
        </select>
        <label for="university">Universidade (Não obrigatório)</label>
      </div>

      <div class="input-field s12 m12 l12">
        <select name="coordinator" id="coordinator">
        </select>
        <label for="coordinator">Coordenador (Não obrigatório)</label>
      </div>

      <input name="createdAt" id="createdAt" type="hidden">
    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateCourse" class="green modal-action modal-close btn-flat">Criar</a>
    <a class="red modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
