
<!-- modal de criação de professores -->
<div id="modal-create-teacher" class="modal">
  <div class="modal-content">
    <span class="modal-title">Novo Professor</span>
    <div class="row">
      <div class="input-text">
        <label for="teacher-name">Nome</label>
        <input name="teacher-name" id="teacher-name" type="text">
      </div>

      <div class="input-text">
        <label for="teacher-code">Código</label>
        <input name="teacher-code" id="teacher-code" type="text">
      </div>

      <div class="input-text">
        <label for="teacher-course">Curso</label>
        <input name="teacher-course" id="teacher-course" type="text">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateTeacher" class="green modal-action modal-close btn-flat">Criar</a>
    <a class="red modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
