
<!-- modal de criação de universidades -->
<div id="modal-create-university" class="modal">
  <div class="modal-content">
    <span class="modal-title">Nova Universidade</span>
    <div class="row">
      <div class="input-text">
        <label for="name">Nome</label>
        <input name="name" id="name" type="text">
      </div>

      <div class="input-text">
        <label for="code">Sigla</label>
        <input name="code" id="code" type="text">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateUniversity" class="green modal-action modal-close btn-flat">Criar</a>
    <a class="red modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
