<!-- modal de criação de cursos -->
<div id="modal-create-useOfAbstract" class="modal">
  <form action="/app/useOfAbstracts/" method="POST" enctype=multipart/form-data>
    <div class="modal-content">
      <span class="modal-title">Novo Pedido de Aproveitamento de Cadeiras</span>
      <div class="row">

        <div class="input-field s12 m12 l12">
          <select name="uoa-origin" id="uoa-origin">
          </select>
          <label for="uoa-origin">Cadeira Cursada</label>
        </div>

        <div class="input-field s12 m12 l12">
          <select name="uoa-destiny" id="uoa-destiny">
          </select>
          <label for="uoa-destiny">Cadeira Pretendida</label>
        </div>

        <div class="input-field s12 m12 l12">
          <label for="uoa-menu">Ementa</label>
          <div class="file-field input-field">
            <div>
              <input name="uoa-menu" id="uoa-menu" type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>

        <input name="uoa-createdAt" id="uoa-createdAt" type="hidden">
      </div>
    </div>

    <div class="modal-footer">
      <input type="submit" class="green btn-flat" value="Criar">
      <a class="red modal-action modal-close btn-flat">Cancelar</a>
    </div>
  </form>
</div>

<!-- modal de criação de uoa -->
<div id="modal-visualize-useOfAbstract" class="modal">
    <div class="modal-content">
      <span class="modal-title">Pedido de Aproveitamento de Cadeiras</span>
      <div class="row">
        <label for="visualize-uoa-createdAt">Data de Criação</label>

        <div class="input-field s12 m12 l12">
          <input type="text" id="visualize-uoa-createdAt" disabled>
        </div>

        <label for="visualize-uoa-status">Status</label>

        <div class="input-field s12 m12 l12">
          <input type="text" id="visualize-uoa-status" disabled>
        </div>

        <label for="visualize-uoa-origin">Cadeira Cursada</label>

        <div class="input-field s12 m12 l12">
          <input type="text" id="visualize-uoa-origin" disabled>
        </div>

        <label for="visualize-uoa-destiny">Cadeira Pretendida</label>

        <div class="input-field s12 m12 l12">
          <input type="text" id="visualize-uoa-destiny" disabled>
        </div>

        <label for="visualize-uoa-note">Observação</label>

        <div class="input-field s12 m12 l12">
          <input type="text" id="visualize-uoa-note" disabled>
        </div>

        <div class="input-field s12 m12 l12">
          <input type="button" class="btn" value="Baixar ementa">
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <a class="red modal-action modal-close btn-flat">Fechar</a>
    </div>
  </form>
</div>
