<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <title>App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery -->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous">
    </script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/universities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/courses.js') }}"></script>
    <script src="{{ url_for('static', filename='js/coordinators.js') }}"></script>

</head>
  <body>
    <!-- menu -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Coordenação Fácil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Sair</a></li>
        </ul>
      </div>
    </nav>


    <!-- container -->
    <div class="container">

      <!-- universidades -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Universidades</span>

          <table>
            <thead>
              <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if universities %}
                {% for university in universities %}
                  <tr>
                    <td>{{ university.code }}</td>
                    <td>{{ university.name }}</td>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>


      <!-- cursos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Cursos</span>

          <table>
            <thead>
              <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Coordenador</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if courses %}
                {% for course in courses %}
                  <tr>
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.coordinator }}</td>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>


      <!-- coordenadores -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Coordenadores</span>

          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if coordinators %}
                {% for coordinator in coordinators %}
                  <tr>
                    <td>{{ coordinator.code }}</td>
                    <td>{{ coordinator.name }}</td>
                    <td>{{ coordinator.course }}</td>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}

            </tbody>
          </table>

        </div>
      </div>


    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a href="#modal-create-university" class="modal-trigger btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a href="#modal-create-course" class="modal-trigger btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a href="#modal-create-coordinator" class="modal-trigger btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>

    </div>

    {% include 'modals/universities.html' %}
    {% include 'modals/courses.html' %}
    {% include 'modals/coordinators.html' %}

  </body>
</html>
