<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <title>App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery -->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous">
    </script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/universities.js') }}"></script>

</head>
  <body>
    <!-- menu -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Coordenação Fácil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Sair</a></li>
        </ul>
      </div>
    </nav>


    <!-- container -->
    <div class="container">

      <!-- universidades -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Universidades</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Sigla</th>
                  <th>Editar</th>
                  <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Universidade Federal do Maranhão</td>
                <td>UFMA</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
              <tr>
                <td>Universidade Federal do Maranhão</td>
                <td>UFMA</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
              <tr>
                <td>Universidade Federal do Maranhão</td>
                <td>UFMA</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- cursos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Cursos</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Sigla</th>
                  <th>Coordenador</th>
                  <th>Editar</th>
                  <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Ciência da Computação</td>
                <td>CP</td>
                <td>Simara</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
              <tr>
                <td>Ciência da Computação</td>
                <td>CP</td>
                <td>Simara</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
              <tr>
                <td>Ciência da Computação</td>
                <td>CP</td>
                <td>Simara</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- coordenadores -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Coordenadores</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Código</th>
                  <th>Curso</th>
                  <th>Editar</th>
                  <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Ciência da Computação</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>

              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Ciência da Computação</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>

              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Ciência da Computação</td>
                <td><i class="material-icons">edit</i></td>
                <td><i class="material-icons">remove</i></td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>


    <a href="#modal-create-university" class="modal-trigger btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

    {% include 'modals/universities.html' %}


  </body>
</html>
