<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <title>App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/abstracts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/teachers.js') }}"></script>


  </head>
  <body>
    <!-- menu -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Coordenação Fácil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Sair</a></li>
        </ul>
      </div>
    </nav>


    <!-- container -->
    <div class="container">

      <!-- plano de estudos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Plano de Estudos</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- pedidos de aproveitamento de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Aproveitamento de Cadeiras</span>

          <table>
            <thead>
              <tr>
                  <th>Estudante</th>
                  <th>Matrícula</th>
                  <th>Cadeira Cursada</th>
                  <th>Cadeira Pretendida</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- pedidos de monitoria -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Monitoria</span>

          <table>
            <thead>
              <tr>
                  <th>Estudante</th>
                  <th>Matrícula</th>
                  <th>Cadeira</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>

              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>

              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- lista de professores -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Professores</span>

          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if teachers %}
                {% for teacher in teachers %}
                  <tr>
                    <td>{{ teacher.code }}</td>
                    <td>{{ teacher.name }}</td>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}

            </tbody>
          </table>

        </div>
      </div>

      <!-- lista de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Cadeiras</span>

          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Professor</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if abtracts %}
                {% for abstract in abstracts %}
                  <tr>
                    <td>{{ abstract.code }}</td>
                    <td>{{ abstract.name }}</td>
                    <rd>{{ abstract.teacher }}</rd>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li><a href="#modal-create-teacher" class="modal-trigger btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a href="#modal-create-abstract" class="modal-trigger btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        </ul>
      </div>

    </div>

    {% include "modals/teachers.html" %}
    {% include "modals/abstracts.html" %}

  </body>
</html>
