<!DOCTYPE html>

<html lang="pt-br">
  <head>
    {% include "heading.html" %}

    <script src="{{ url_for('static', filename='js/abstracts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/teachers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/coordinators.js') }}"></script>


  </head>
  <body>
    <!-- menu -->
    <nav class="nav-extended #212121 grey darken-4">
     <div class="nav-wrapper">
       <a class="brand-logo center">Coordenação Fácil</a>
       <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul id = "nav-mobile"  class="right hide-on-med-and-down">
         <li><a href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
       </ul>
     </div>
    </nav>

    <ul class="sidenav" id = "mobile-demo">
     <li><a href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
    </ul>

    <!-- container -->
    <div class="container">

      <!-- plano de estudos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Plano de Estudos</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Aprovar</th>
                  <th>Recusar</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">thumb_up</i></td>
                <td><i class="material-icons red-text">thumb_down</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">thumb_up</i></td>
                <td><i class="material-icons red-text">thumb_down</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">thumb_up</i></td>
                <td><i class="material-icons red-text">thumb_down</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- pedidos de aproveitamento de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Aproveitamento de Cadeiras</span>

          <table>
            <thead>
              <tr>
                  <th>Estudante</th>
                  <th>Matrícula</th>
                  <th>Cadeira Cursada</th>
                  <th>Cadeira Pretendida</th>
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Aprovar</th>
                  <th>Recusar</th>
                  <th>Enviar</th>
              </tr>
            </thead>

            <tbody>
              {% if useOfAbstracts %}
                {% for u in useOfAbstracts %}
                  <tr>
                    <td>{{ u.student.name }}</td>
                    <td>{{ u.student.code }}</td>
                    <td>{{ u.origin.name }}</td>
                    <td>{{ u.destiny.name }}</td>
                    <td>{{ u.status }}</td>
                    <td><a onclick="fillModalVisualizeUOA('{{u._id}}');" data-target="modal-visualize-useOfAbstract" class="modal-trigger"><i class="material-icons red-text">search</i></a></td>
                    <td><i class="material-icons red-text">thumb_up</i></td>
                    <td><i class="material-icons red-text">thumb_down</i></td>
                    <td><a data-target="modal-send-uoa-to-teacher" class="modal-trigger" onclick="btnSendToTeacher('{{u._id}}');"><i class="material-icons red-text">send</i></a></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>

      <!-- pedidos de monitoria -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Monitoria</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Cadeira</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
              </tr>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>CP7976 - Sistemas Distribuídos</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
              </tr>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>CP888 - Algoritmos</td>
                <td>Finalizado</td>
                <td><i class="material-icons red-text">search</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- lista de professores -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Professores</span>

          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if teachers %}
                {% for teacher in teachers %}
                  <tr>
                    <td>{{ teacher.code }}</td>
                    <td>{{ teacher.name }}</td>
                    <td><i class="material-icons red-text">edit</i></td>
                    <td><i class="material-icons red-text">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}

            </tbody>
          </table>

        </div>
      </div>

      <!-- lista de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Cadeiras</span>

          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if abstracts %}
                {% for abstract in abstracts %}
                  <tr>
                    <td>{{ abstract.code }}</td>
                    <td>{{ abstract.name }}</td>
                    <td><i class="material-icons red-text">edit</i></td>
                    <td><i class="material-icons red-text">remove</i></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li><a href="#modal-create-teacher" class="modal-trigger">Novo Professor</a></li>
          <li><a href="#modal-create-abstract" class="modal-trigger">Nova Cadeira</a></li>
        </ul>
      </div>

    </div>

    {% include "modals/teachers.html" %}
    {% include "modals/abstracts.html" %}
    {% include "modals/SendToTeacher.html" %}
    {% include "modals/useOfAbstracts.html" %}

  </body>
</html>
