
<nav class="nav-extended #212121 grey darken-4">
 <div class="nav-wrapper">
   <a href="/app/" class="brand-logo center">Coordenação Fácil</a>
   <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
   <ul id="nav-mobile"  class="right hide-on-med-and-down">
     <li><a href="/app/login/">Entrar</a></li>
     <li><a href="/app/signup/">Cadastrar-se</a></li>
   </ul>
 </div>
</nav>

<ul class="sidenav" id = "mobile-demo">
 <li><a href="/app/login/">Entrar</a></li>
 <li><a href="/app/signup/">Cadastrar-se</a></li>
</ul>
