<!DOCTYPE html>

<html lang="pt-br">
  <head>
    {% include "heading.html" %}

    <script src="{{ url_for('static', filename='js/students.js') }}"></script>

  </head>
  <body>
    <!-- menu -->
    <nav class="nav-extended #212121 grey darken-4">
     <div class="nav-wrapper">
       <a href="/app/" class="brand-logo center">Coordenação Fácil</a>
       <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul id = "nav-mobile"  class="right hide-on-med-and-down">
         <li><a href="/app/settings/"><i class="material-icons right">settings</i>Configurações</a></li>
         <li><a href="/app/logout/"><i class="material-icons right">exit_to_app</i>Sair</a></li>
       </ul>
     </div>
    </nav>

    <ul class="sidenav" id = "mobile-demo">
      <li><a href="/app/settings/"><i class="material-icons right">settings</i>Configurações</a></li>
      <li><a href="/app/logout/"><i class="material-icons right">exit_to_app</i>Sair</a></li>
    </ul>

    <!-- container -->
    <div class="container">

      <h4 class="center">Visão Geral</h4>

      <!-- plano de estudos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Plano de Estudos</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Editar</th>
                  <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>Aprovado</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">edit</i></td>
                <td><i class="material-icons red-text">delete</i></td>
              </tr>

              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">edit</i></td>
                <td><i class="material-icons red-text">delete</i></td>
              </tr>

              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>Negado</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">edit</i></td>
                <td><i class="material-icons red-text">delete</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <!-- pedidos de aproveitamento de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Aproveitamento de Cadeiras</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Cadeira Cursada</th>
                  <th>Cadeira Pretendida</th>
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Editar</th>
                  <th>Remover</th>
              </tr>
            </thead>

            <tbody>
              {% if useOfAbstracts %}
                {% for u in useOfAbstracts %}
                  <tr>
                    <td>{{ u.student.name }}</td>
                    <td>{{ u.student.code }}</td>
                    <td>{{ u.origin.name }}</td>
                    <td>{{ u.destiny.name }}</td>
                    <td>{{ u.status }}</td>
                    <td><i class="material-icons red-text">search</i></td>
                    <td><i class="material-icons red-text">edit</i></td>
                    <td><i class="material-icons red-text">delete</i></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>


      <!-- pedidos de monitoria -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Monitoria</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Cadeira</th>
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Baixar</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">get_app</i></td>
              </tr>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>CP7976 - Sistemas Distribuídos</td>
                <td>Em Processamento</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">get_app</i></td>
              </tr>
              <tr>
                <td>Eduardo Silva Vieira</td>
                <td>2016003670</td>
                <td>CP888 - Algoritmos</td>
                <td>Finalizado</td>
                <td><i class="material-icons red-text">search</i></td>
                <td><i class="material-icons red-text">get_app</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a data-target="modal-create-useOfAbstract" class="modal-trigger">Novo Aproveitamento de Cadeiras</a></li>
        <li><a  class="modal-trigger">Novo Plano de Estudos</a></li>
        <li><a  class="modal-trigger">Novo Monitoria</a></li>
      </ul>
    </div>


    {% include "modals/useOfAbstracts.html" %}
