<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <title>Coordenação Fácil</title>

    {% include "css.html" %}
  </head>
  <body>
    <!-- menu -->
    <nav>
      <div class="nav-wrapper green">
        <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='icon.png') }}" height="30" width="30" alt="">Coordenação Fácil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons right">settings</i>Configurações</a></li>
          <li><a href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
        </ul>
      </div>
    </nav>


    <!-- container -->
    <div class="container">

      <!-- plano de estudos -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Plano de Estudos</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <!-- pedidos de aproveitamento de cadeiras -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Aproveitamento de Cadeiras</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Cadeira Cursada</th>
                  <th>Cadeira Pretendida</th>
                  <th>Status</th>
                  <th>Ver</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>CP000 - Sistemas Operacionais I</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">search</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <!-- pedidos de monitoria -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pedidos de Monitoria</span>

          <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Cadeira</th>
                  <th>Status</th>
                  <th>Baixar</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">get_app</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">get_app</i></td>
              </tr>
              <tr>
                <td>Eduardo</td>
                <td>2016003670</td>
                <td>BICT000 - Sistemas Operacionais</td>
                <td>Em Processamento</td>
                <td><i class="material-icons">get_app</i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
