<!DOCTYPE html>

<html lang="pt-br">
  <head>
    {% include "css.html" %}

    <script src="{{ url_for('static', filename='js/teachers.js') }}"></script>

  </head>
  <body>
    <!-- menu -->
    <nav class="nav-extended #212121 grey darken-4">
     <div class="nav-wrapper">
       <a class="brand-logo center">Coordenação Fácil</a>
       <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul id = "nav-mobile"  class="right hide-on-med-and-down">
         <li><a href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
       </ul>
     </div>

     <div class="nav-content">
       <ul class="tabs tabs-transparent">
         <li class="tab"><a href="#principal">Principal</a></li>
         <li class="tab"><a href="#monitoria">Monitoria</a></li>
         <li class="tab"><a href="#aproCadeiras">Aproveitamento de Cadeiras</a></li>
       </ul>
     </div>
    </nav>

    <ul class="sidenav" id = "mobile-demo">
     <li><a href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
    </ul>

    <div id="principal">
      <!-- container -->
      <div class="container">

        <!-- pedidos de aproveitamento de cadeiras -->
        <div class="card">
          <div class="card-content">
            <span class="card-title">Pedidos de Aproveitamento de Cadeiras</span>

            <table>
              <thead>
                <tr>
                    <th>Estudante</th>
                    <th>Matrícula</th>
                    <th>Cadeira Cursada</th>
                    <th>Cadeira Pretendida</th>
                    <th>Status</th>
                    <th>Ver</th>
                    <th>Aprovar</th>
                    <th>Recusar</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Eduardo</td>
                  <td>2016003670</td>
                  <td>BICT000 - Sistemas Operacionais</td>
                  <td>CP000 - Sistemas Operacionais I</td>
                  <td>Em Processamento</td>
                  <td><i class="material-icons red-text">search</i></td>
                  <td><i class="material-icons red-text">thumb_up</i></td>
                  <td><i class="material-icons red-text">thumb_down</i></td>
                </tr>
                <tr>
                  <td>Eduardo</td>
                  <td>2016003670</td>
                  <td>BICT000 - Sistemas Operacionais</td>
                  <td>CP000 - Sistemas Operacionais I</td>
                  <td>Em Processamento</td>
                  <td><i class="material-icons red-text">search</i></td>
                  <td><i class="material-icons red-text">thumb_up</i></td>
                  <td><i class="material-icons red-text">thumb_down</i></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>


        <!-- pedidos de monitoria -->
        <div class="card">
          <div class="card-content">
            <span class="card-title">Pedidos de Monitoria</span>

            <table>
              <thead>
                <tr>
                    <th>Estudante</th>
                    <th>Matrícula</th>
                    <th>Cadeira</th>
                    <th>Status</th>
                    <th>Ver</th>
                    <th>Aprovar</th>
                    <th>Recusar</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Eduardo</td>
                  <td>2016003670</td>
                  <td>BICT000 - Sistemas Operacionais</td>
                  <td>Em Processamento</td>
                  <td><i class="material-icons red-text">search</i></td>
                  <td><i class="material-icons red-text">thumb_up</i></td>
                  <td><i class="material-icons red-text">thumb_down</i></td>
                </tr>
                <tr>
                  <td>Eduardo</td>
                  <td>2016003670</td>
                  <td>BICT000 - Sistemas Operacionais</td>
                  <td>Em Processamento</td>
                  <td><i class="material-icons red-text">search</i></td>
                  <td><i class="material-icons red-text">thumb_up</i></td>
                  <td><i class="material-icons red-text">thumb_down</i></td>
                </tr>
                <tr>
                  <td>Eduardo</td>
                  <td>2016003670</td>
                  <td>BICT000 - Sistemas Operacionais</td>
                  <td>Em Processamento</td>
                  <td><i class="material-icons red-text">search</i></td>
                  <td><i class="material-icons red-text">thumb_up</i></td>
                  <td><i class="material-icons red-text">thumb_down</i></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div id="monitoria">

    </div>

    <div id="aproCadeiras">
      
    </div>
  </body>
</html>
